.logo {
    will-change: filter;
    transition: filter 300ms;
}

.logo:hover {
    filter: drop-shadow(0 0 7px #646cffaa);
}

.logo.react:hover {
    filter: drop-shadow(0 0 7px #61dafbaa);
}

.logo.mui:hover {
    filter: drop-shadow(0 0 7px #0073e6aa);
}

.page-name {
    margin-right: 25px;
    line-height: 40px;
}

.text-physical {
    color: #edcc2c;
}

.text-ice {
    color: #95eae9;
}

.text-fire {
    color: #ff5623;
}

.text-electric {
    color: #33b6fe;
}

.text-ether {
    color: #fe427e;
}

.text-wind {
    color: #48eea7;
}
